<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-color:orange;height:100vh;width:100%;">
        <h1>add products by seller</h1>
        <form action="/savedata/save-products" method="Post">
            <input type="text"name="brand"placeholder="brand name">
            <input type="text"name="name"placeholder="name">
            <input type="number"name="price"placeholder="price">
            <input type="number"name="total"placeholder="quantity">
            <input type="text"name="email_id"placeholder="email id">
            <input type="text"name="password"placeholder="password">
            <input type="submit"value="submit">
        </form>
    </div>
</body>
</html>