<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/access" method="Post">
            <input type="text"name="email_id"placeholder="email id">
            <input type="text"name="password"placeword="password">
            <input type="number"name="balance"placeholder="balance">
            <input type="submit"value="submit">


        </form>
    </div>
    
</body>
</html>